
asgiref==3.11.1

#Biblioteca para desenvolvimento do Django
Django==6.0.2
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1

# Bibliotecas para servidor
gunicorn==25.1.0
packaging==26.0

#Biblioteca necessária para conexão com banco de dados PostgreSQL
psycopg2-binary==2.9.11

#Para segurança e autenticação
PyJWT==2.11.0

#Para gerenciamento de variáveis de ambiente
python-decouple==3.8

#Para gerenciamento de banco de dados
sqlparse==0.5.5

#Para segurança de senhas
argon2-cffi==23.1.0
Pillow==10.4.0
